<% provide :title, t(".heading") %>
<h1><%= t(".heading")%></h1>
<p>
  <%= t(".intro")%>
  <%= link_to t(".page_name"), "https://www.railstutorial.org/help" %>
  <%= t(".book_page")%>
  <%= link_to "Ruby on Rails Tutorial", "https://www.railstutorial.org/book" %>
  <%= t(".book")%></a>.
</p>
